<section class="about" data-aos="fade-right">
  <div class="container">
    <h1 class="visually-hidden">About me</h1>
    <div class="am-headline">
      <div class="am-summary">
        <p>
          I work with people all over the world to create impressive and
          <span id="functional">functional</span>
          <span id="websites">websites</span> that reflect each client's unique
          personality.
        </p>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./img/about-me/photo_desc1x.jpg 1x,
              ./img/about-me/photo_desc2x.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              ./img/about-me/photo_tab1x.jpg 1x,
              ./img/about-me/photo_tab2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/about-me/photo_mob1x.jpg 1x,
              ./img/about-me/photo_mob1x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="am-photo"
            src="./img/about-me/photo_mob1x.jpg"
            alt="my-photo"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="am-main accordion-container">
      <div class="ac">
        <div class="ac-header am-accordion-wrap">
          <button type="button" class="ac-trigger">
            About me
            <svg
              class="ac-icon icon-first"
              width="20"
              height="20"
              aria-label="icon-chekmark"
            >
              <use href="./sprites/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <ul class="aboutme-list aboutme-text">
            <li>
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages ​​and technologies, always ready
              to improve my skills. I always follow the latest trends and look
              for unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </li>
            <li>
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work.I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </li>
          </ul>
        </div>
      </div>
      <div class="ac">
        <div class="ac-header am-accordion-wrap">
          <button type="button" class="ac-trigger">
            Role
            <svg
              class="ac-icon"
              width="20"
              height="20"
              aria-label="icon-chekmark"
            >
              <use href="./sprites/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <ul class="aboutme-list aboutme-text">
            <li>Frontend development</li>
            <li>HeadlessCMS, Wordpress</li>
            <li>Blender(enjoy)</li>
          </ul>
        </div>
      </div>
      <div class="ac">
        <div class="ac-header am-accordion-wrap">
          <button type="button" class="ac-trigger" aria-expanded="true">
            Education
            <svg
              class="ac-icon"
              width="20"
              height="20"
              aria-label="icon-chekmark"
            >
              <use href="./sprites/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <ul class="aboutme-list aboutme-text">
            <li>
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li>
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="swiper-skills-list__body">
      <div class="swiper-skills-list">
        <!-- Additional required wrapper -->
        <ul class="swiper-wrapper swiper-skills-list__wrapper">
          <!-- Slides -->
          <li class="swiper-slide swiper-skills-slide">
            <button>HTML/CSS</button>
          </li>
          <li class="swiper-slide swiper-skills-slide">
            <button>JavaScript</button>
          </li>
          <li class="swiper-slide swiper-skills-slide">
            <button>React</button>
          </li>
          <li class="swiper-slide swiper-skills-slide">
            <button>Node.js</button>
          </li>
          <li class="swiper-slide swiper-skills-slide">
            <button>React Native</button>
          </li>
          <li class="swiper-slide swiper-skills-slide">
            <button>Soft skills</button>
          </li>
          <li class="swiper-slide swiper-skills-slide">
            <button>PHP</button>
          </li>
          <li class="swiper-slide swiper-skills-slide">
            <button>Laravel</button>
          </li>
          <li class="swiper-slide swiper-skills-slide">
            <button>Symfony</button>
          </li>
          <li class="swiper-slide swiper-skills-slide">
            <button>Vue</button>
          </li>
        </ul>

        <!-- If we need navigation buttons -->
      </div>
      <div class="swiper-skill-list-next">
        <svg class="right-btn-icon btn-icon" aria-label="swipe right icon">
          <use href="./sprites/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
