<section class="covers-wrapper">
  <h2 class="visually-hidden">Covers</h2>
  <div class="marquee-wrapper" id="marquee-wrapper">
    <div class="marquee">
      <div class="marquee__group">
        <img src="../img/covers/cover-1.jpg" alt="" />
        <img src="../img/covers/cover-2.jpg" alt="" />
        <img src="../img/covers/cover-3.jpg" alt="" />
        <img src="../img/covers/cover-4.jpg" alt="" />
        <img src="../img/covers/cover-5.jpg" alt="" />
      </div>

      <div aria-hidden="true" class="marquee__group">
        <img src="../img/covers/cover-1.jpg" alt="" />
        <img src="../img/covers/cover-2.jpg" alt="" />
        <img src="../img/covers/cover-3.jpg" alt="" />
        <img src="../img/covers/cover-4.jpg" alt="" />
        <img src="../img/covers/cover-5.jpg" alt="" />
      </div>
    </div>

    <div class="marquee marquee--reverse">
      <div class="marquee__group">
        <img src="../img/covers/cover-6.jpg" alt="" />
        <img src="../img/covers/cover-7.jpg" alt="" />
        <img src="../img/covers/cover-8.jpg" alt="" />
        <img src="../img/covers/cover-9.jpg" alt="" />
        <img src="../img/covers/cover-10.jpg" alt="" />
      </div>

      <div aria-hidden="true" class="marquee__group">
        <img src="../img/covers/cover-6.jpg" alt="" />
        <img src="../img/covers/cover-7.jpg" alt="" />
        <img src="../img/covers/cover-8.jpg" alt="" />
        <img src="../img/covers/cover-9.jpg" alt="" />
        <img src="../img/covers/cover-10.jpg" alt="" />
      </div>
    </div>

    <div class="marquee">
      <div class="marquee__group">
        <img src="../img/covers/cover-5.jpg" alt="" />
        <img src="../img/covers/cover-4.jpg" alt="" />
        <img src="../img/covers/cover-3.jpg" alt="" />
        <img src="../img/covers/cover-2.jpg" alt="" />
        <img src="../img/covers/cover-1.jpg" alt="" />
      </div>

      <div aria-hidden="true" class="marquee__group">
        <img src="../img/covers/cover-5.jpg" alt="" />
        <img src="../img/covers/cover-4.jpg" alt="" />
        <img src="../img/covers/cover-3.jpg" alt="" />
        <img src="../img/covers/cover-2.jpg" alt="" />
        <img src="../img/covers/cover-1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
