<section>
  <h2>Covers</h2>
  <article class="wrapper">
    <div class="marquee">
      <div class="marquee__group">
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
      </div>

      <div aria-hidden="true" class="marquee__group">
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
      </div>
    </div>

    <div class="marquee marquee--reverse">
      <div class="marquee__group">
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
      </div>

      <div aria-hidden="true" class="marquee__group">
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
      </div>
    </div>
    <div class="marquee">
      <div class="marquee__group">
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
      </div>

      <div aria-hidden="true" class="marquee__group">
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
        <img
          src="https://placehold.co/600x400"
          width="600"
          height="400"
          alt=""
        />
      </div>
    </div>
  </article>
</section>
