<header class="header-wrapper transparent">
  <a class="logo" href="index.html">
    <img src="./img/logo-image.jpeg" alt="logo image" class="logo-image" />
    <p class="logo-text">jefferson*</p>
  </a>
  <div class="menu-button-open">
    <button class="mobile-menu-btn" aria-expanded="false" type="button">
      <svg
        class="mobile-menu-btn-icon"
        width="28"
        height="28"
        aria-label="mobile-menu-icon-open"
      >
        <use href="./img/icons.svg#icon-open"></use>
      </svg>
    </button>
  </div>
  <nav class="page-nav hide-for-mobile">
    <a class="page-nav-button">Menu</a>
  </nav>
  <!-- <ul class="menu">
      <li class="menu-nav">
        <button class="button">
          <a href="#about">About me</a>
        </button>
      </li>
      <li class="menu-nav">
        <button class="button">
          <a href="#benefits">Benefits</a>
        </button>
      </li>
      <li class="menu-nav">
        <button class="button">
          <a href="#projects">Projects</a>
        </button>
      </li>
      <li class="menu-nav">
        <button class="button">
          <a href="#faq">FAQ</a>
        </button>
      </li>
    </ul> -->
  <button class="button-menu-page">
    <a id="button-cont" href="#worktogether">Order the project</a>
  </button>
</header>
<div class="menu-wrapper" id="mobile-menu">
  <button class="menu-button-close" type="button">
      <svg class="menu-button-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-close"></use>
      </svg>
  </button>
  <div class="menu-nav-cont">
      <ul class="menu-nav-list">
          <li class="menu-nav-list-item">
              <a id="menu-about" href="#about">About me</a>
          </li>
          <li class="menu-nav-list-item">
              <a id="menu-benefits" href="#benefits">Benefits</a>
          </li>
          <li class="menu-nav-list-item">
              <a id="menu-projects" href="#projects">Projects</a>
          </li>
          <li class="menu-nav-list-item">
              <a id="menu-faq" href="#faq">FAQ</a>
          </li>
      </ul>
  </div>
  <button class="button-menu-cont">
      <a id="button-cont" href="#worktogether">Order the project</a>
  </button>
</div>

