<header class="header-wrapper transparent">
  <a class="logo" href="index.html">
    <img src="./img/logo-image.jpeg" alt="logo image" class="logo-image" />
    <p class="logo-text">jefferson*</p>
  </a>
  <div class="menu-button-open">
    <button class="mobile-menu-btn" aria-expanded="false" type="button">
      <svg
        class="mobile-menu-btn-icon"
        width="28"
        height="28"
        aria-label="mobile-menu-icon-open"
      >
        <use href="./img/icons.svg#icon-open"></use>
      </svg>
    </button>
  </div>
  <nav class="page-nav">
    <a class="page-nav-button">Menu</a>
  </nav>
  <!-- <ul class="menu">
      <li class="menu-nav">
        <button class="button">
          <a href="#about">About me</a>
        </button>
      </li>
      <li class="menu-nav">
        <button class="button">
          <a href="#benefits">Benefits</a>
        </button>
      </li>
      <li class="menu-nav">
        <button class="button">
          <a href="#projects">Projects</a>
        </button>
      </li>
      <li class="menu-nav">
        <button class="button">
          <a href="#faq">FAQ</a>
        </button>
      </li>
    </ul> -->
  <button class="button-menu-page">
    <a id="button-cont" href="#worktogether">Order the project</a>
  </button>
</header>
