<section class="hero">
        <h1 class="hero-title">
        Hello. <br />
        I’m Fullstack developer <br />
        Lloyd Jefferson.
        </h1>
        <div class="container-hero">
                <address class="hero-address">
                <ul class="hero-address-list">
                        <li>
                                <div class="link">
                                <a href="https://www.instagram.com/goitclub/" class="hero-address-link" target="_blank" rel="noopener noreferrer">ig</a>
                                </div>
                        </li>
                        <li>
                                <div class="link">
                                <a href="https://www.facebook.com/goITclub/" class="hero-address-link" target="_blank" rel="noopener noreferrer">fb</a>
                                </div>
                        </li>
                        <li>
                                <div class="link">
                                <a href="https://www.youtube.com/c/GoIT" class="hero-address-link" target="_blank" rel="noopener noreferrer">yt</a>
                                </div>
                        </li>
                        <li>
                                <div class="link">
                                <a href="https://aleksanstark.github.io/teamwork-project-group-7" class="hero-address-link" target="_blank" rel="noopener noreferrer">gh</a>
                                </div>
                        </li>
                        <li>
                                <div class="link-mail">
                                <a class="hero-address-mail-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
                                </div>
                        </li>
                </ul>
                </address>
        </div>
                <!--Slider main container -->
                <!--<div class="swiper-hero">-->
                <!-- Additional required wrapper -->
                <!--<div class="swiper-wrapper">-->
                        <!-- Slides -->
                        <!-- <div class="swiper-slide swiper-hero-slide-1 swiper-hero-slide">
                                <img src="/goit-team-js-project/assets/bg-blue-x1-b70a6218.png" alt="">
                        </div>
                        <div class="swiper-slide swiper-hero-slide-2 swiper-hero-slide">
                                <img src="/goit-team-js-project/assets/bg-brown-x1-1c10980d.png" alt="">
                        </div>
                        <div class="swiper-slide swiper-hero-slide-3 swiper-hero-slide">
                                <img src="/goit-team-js-project/assets/bg-green-x1-c443f6ea.png" alt="">
                        </div>
                        <div class="swiper-slide swiper-hero-slide-4 swiper-hero-slide">
                                <img src="/goit-team-js-project/assets/bg-red-x1-ecd83a04.png" alt="">
                        </div>
                        <div class="swiper-slide swiper-hero-slide-5 swiper-hero-slide">
                                <img src="/goit-team-js-project/assets/bg-orange-x1-feecc5e9.png" alt="">
                        </div>
                        <div class="swiper-slide swiper-hero-slide-6 swiper-hero-slide">
                                <img src="/goit-team-js-project/assets/bg-salat-x1-7bef3cf5.png" alt="">
                        </div>
                </div>
                <div class="swiper-scrollbar"></div> 
        </div>
        //-->
</section>