<section class="hero">
  <header class="header-wrapper transparent">
    <a class="logo" href="index.html">
      <img src="./img/logo-image.jpeg" alt="logo image" class="logo-image" />
      <p class="logo-text">jefferson*</p>
    </a>
    <div class="menu-button-open">
      <button class="mobile-menu-btn" aria-expanded="false" type="button">
        <svg
          class="mobile-menu-btn-icon"
          width="28"
          height="28"
          aria-label="mobile-menu-icon-open"
        >
          <use href="./img/icons.svg#icon-open"></use>
        </svg>
      </button>
    </div>
    <nav class="page-nav">
      <a class="page-nav-button">Menu</a>
    </nav>
    <button class="button-menu-page">
      <a id="button-cont" href="#worktogether">Order the project</a>
    </button>
  </header>

  <div class="menu-wrapper" id="mobile-menu">
    <button class="menu-button-close" type="button">
      <svg class="menu-button-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="menu-nav-cont">
      <ul class="menu-nav-list">
        <li class="menu-nav-list-item">
          <a id="menu-about" href="#about">About me</a>
        </li>
        <li class="menu-nav-list-item">
          <a id="menu-benefits" href="#benefits">Benefits</a>
        </li>
        <li class="menu-nav-list-item">
          <a id="menu-projects" href="#projects">Projects</a>
        </li>
        <li class="menu-nav-list-item">
          <a id="menu-faq" href="#faq">FAQ</a>
        </li>
      </ul>
    </div>

    <button class="button-menu-cont">
      <a id="button-cont" href="#worktogether">Order the project</a>
    </button>
  </div>

  <div class="menu-wrapper" id="mobile-menu">
    <button class="menu-button-close" type="button">
      <svg class="menu-button-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="menu-nav-cont">
      <ul class="menu-nav-list">
        <li class="menu-nav-list-item">
          <a id="menu-about" href="#about">About me</a>
        </li>
        <li class="menu-nav-list-item">
          <a id="menu-benefits" href="#benefits">Benefits</a>
        </li>
        <li class="menu-nav-list-item">
          <a id="menu-projects" href="#projects">Projects</a>
        </li>
        <li class="menu-nav-list-item">
          <a id="menu-faq" href="#faq">FAQ</a>
        </li>
      </ul>
    </div>

    <button class="button-menu-cont">
      <a id="button-cont" href="#worktogether">Order the project</a>
    </button>
  </div>

  <div class="menu-wrapper" id="mobile-menu">
    <button class="menu-button-close" type="button">
      <svg class="menu-button-icon" width="16" height="16" viewBox="0 0 16 16">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>

      <div class="menu-wrapper" id="mobile-menu">
        <button class="menu-button-close" type="button">
          <svg class="menu-button-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-close"></use>
          </svg>
        </button>
        <div class="menu-nav-cont">
          <ul class="menu-nav-list">
            <li class="menu-nav-list-item">
              <a id="menu-about" href="#about">About me</a>
            </li>
            <li class="menu-nav-list-item">
              <a id="menu-benefits" href="#benefits">Benefits</a>
            </li>
            <li class="menu-nav-list-item">
              <a id="menu-projects" href="#projects">Projects</a>
            </li>
            <li class="menu-nav-list-item">
              <a id="menu-faq" href="#faq">FAQ</a>
            </li>
          </ul>
        </div>

        <button class="button-menu-cont">
          <a id="button-cont" href="#worktogether">Order the project</a>
        </button>
      </div>
    </button>
  </div>
  <h1 class="hero-title">
    Hello. <br />
    I’m Fullstack developer <br />
    Lloyd Jefferson.
  </h1>
  <div class="container-hero">
    <address class="hero-address">
      <ul class="hero-address-list">
        <li>
          <div class="link animation one">
            <a
              href="https://www.instagram.com/goitclub/"
              class="hero-address-link"
              target="_blank"
              rel="noopener noreferrer"
              >ig</a
            >
          </div>
        </li>
        <li>
          <div class="link animation two">
            <a
              href="https://www.facebook.com/goITclub/"
              class="hero-address-link"
              target="_blank"
              rel="noopener noreferrer"
              >fb</a
            >
          </div>
        </li>
        <li>
          <div class="link animation three">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="hero-address-link"
              target="_blank"
              rel="noopener noreferrer"
              >yt</a
            >
          </div>
        </li>
        <li>
          <div class="link animation four">
            <a
              href="https://aleksanstark.github.io/teamwork-project-group-7"
              class="hero-address-link"
              target="_blank"
              rel="noopener noreferrer"
              >gh</a
            >
          </div>
        </li>
        <li>
          <div class="link-mail animation five">
            <a
              class="hero-address-mail-link"
              href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </div>
        </li>
      </ul>
    </address>
  </div>
</section>
