<section class="hero-section">
  <div class="hero-container">
    <h1 class="hero-title">
      HELLO. <br />
      I'M FULLSTACK DEVELOPER LLOYD JEFFERSON.
    </h1>

    <ul class="social-media-list">
      <li class="social-media-item animation one">
        <a
          class="social-media-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          >IG</a
        >
      </li>
      <li class="social-media-item animation two">
        <a
          class="social-media-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          >FB</a
        >
      </li>
      <li class="social-media-item animation three">
        <a
          class="social-media-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          >YT</a
        >
      </li>
      <li class="social-media-item animation four">
        <a
          class="social-media-link"
          href="https://https://github.com/AleksanStark/teamwork-project-group-7"
          target="_blank"
          >GH</a
        >
      </li>
      <li class="email-item">
        <a
          class="email-link animation five"
          href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
