<section class="projects" id="projects">
  <div class="projects-wrapper">
    <h1 class="projects-title">Projects</h1>
    <div class="swiper projects-swiper">
      <ul class="swiper-wrapper projects-list">
        <li class="swiper-slide projects-slide">
          <div class="projects-list-content-container">
            <div class="projects-list-box-info">
              <ul class="projects-list-skills">
                <li class="projects-list-skills-item">
                  <span class="projects-list-skills-text">#react</span>
                </li>
                <li class="projects-list-skills-item">
                  <span class="projects-list-skills-text">#js</span>
                </li>
                <li class="projects-list-skills-item">
                  <span class="projects-list-skills-text">#node.js</span>
                </li>
                <li class="projects-list-skills-item">
                  <span class="projects-list-skills-text">#git</span>
                </li>
              </ul>
              <h2 class="projects-list-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h2>
              <button type="button" class="projects-list-button">
                See project
              </button>
            </div>
            <div class="projects-list-img-box">
              <img
                src="./img/projects-image-1.png"
                srcset="
                  ./img/projects-image-1.png    1x,
                  ./img/projects-image-1@2x.png 2x
                "
                alt=""
                class="projects-list-img"
              />
            </div>
          </div>
        </li>

        <li class="swiper-slide projects-slide">
          <div class="projects-list-content-container">
            <div class="projects-list-box-info">
              <ul class="projects-list-skills">
                <li class="projects-list-skills-item">
                  <span class="projects-list-skills-text">#react</span>
                </li>
                <li class="projects-list-skills-item">
                  <span class="projects-list-skills-text">#js</span>
                </li>
                <li class="projects-list-skills-item">
                  <span class="projects-list-skills-text">#node.js</span>
                </li>
                <li class="projects-list-skills-item">
                  <span class="projects-list-skills-text">#git</span>
                </li>
              </ul>
              <h2 class="projects-list-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h2>
              <button type="button" class="projects-list-button">
                See project
              </button>
            </div>
            <div class="projects-list-img-box">
              <img
                src="./img/projects-image-2.png"
                alt=""
                srcset="
                  ./img/projects-image-2.png    1x,
                  ./img/projects-image-2@2x.png 2x
                "
                class="projects-list-img"
              />
            </div>
          </div>
        </li>
        <li class="swiper-slide projects-slide">
          <div class="projects-list-content-container">
            <div class="projects-list-box-info">
              <ul class="projects-list-skills">
                <li class="projects-list-skills-item">
                  <span class="projects-list-skills-text">#react</span>
                </li>
                <li class="projects-list-skills-item">
                  <span class="projects-list-skills-text">#js</span>
                </li>
                <li class="projects-list-skills-item">
                  <span class="projects-list-skills-text">#node.js</span>
                </li>
                <li class="projects-list-skills-item">
                  <span class="projects-list-skills-text">#git</span>
                </li>
              </ul>
              <h2 class="projects-list-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h2>
              <button type="button" class="projects-list-button">
                See project
              </button>
            </div>
            <div class="projects-list-img-box">
              <img
                src="./img/projects-image-3.png"
                alt=""
                srcset="
                  ./img/projects-image-3.png    1x,
                  ./img/projects-image-3@2x.png 2x
                "
                class="projects-list-img"
              />
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="projects-buttons-box">
      <button type="button" class="projects-swiper-button-left">
        <svg class="projects-swiper-arrow-left">
          <use href="./img/icons.svg#swiper-arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="projects-swiper-button-right">
        <svg class="projects-swiper-arrow-right">
          <use href="./img/icons.svg#swiper-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
