<section class="review-section">
  <div class="review-wrapper">
    <h3 class="review-title">reviews</h3>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper"></div>
    </div>

    <div class="swiper-button-left">
      <img class="swiper-arrow-left" src="./img/arrow-right.svg" alt="" />
      <!-- <img src="img/arrow-left.svg" alt="" /> -->
    </div>
    <div class="swiper-button-right">
      <img class="swiper-arrow-right" src="./img/arrow-left.svg" alt="" />
    </div>
  </div>
</section>
