<section class="review-section">
  <div class="review-wrapper">
    <h3 class="review-title">reviews</h3>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper markup"></div>
    </div>

    <div class="swiper-button-left">
      <svg class="swiper-arrow-left">
        <use href="./img/icons.svg#swiper-arrow-left"></use>
      </svg>
      <!-- <img src="img/arrow-left.svg" alt="" /> -->
    </div>

    <div class="swiper-button-right">
      <svg class="swiper-arrow-right">
        <use href="./img/icons.svg#swiper-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
