<section class="work-together">
  <div class="title-container">
    <!-- <img src="" alt="" width="50" height="50" /> -->
    <h2 class="title-footer">
      Let’s <span class="span-text">work</span> together
    </h2>
  </div>
  <form class="form-work-together">
    <input
      class="input-email"
      type="email"
      name="email"
      id="email-input"
      placeholder="clients@gmail.com"
    />
    <textarea
      name="comments"
      id="comments"
      class="textarea-comment"
      placeholder="comments"
    ></textarea>
    <button class="button-form">Send</button>
  </form>
  <ul class="contacts-list">
    <li class="contacts-item">
      <a class="contacts" href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a
      >
    </li>
    <li class="contacts-item">
      <a class="contacts" href="tel:+380 11 1111 11 11">+380 11 1111 11 11</a>
    </li>
  </ul>
</section>
