<footer class="footer">
  <div class="title-container">
    <img src="" alt="" width="50" height="50" />
    <h2 class="title-footer">
      Let’s <span class="span-text">work</span> together
    </h2>
  </div>
  <form action="">
    <input
      type="email"
      name="email"
      id="email-input"
      placeholder="clients@gmail.com"
    />
    <textarea
      name="comments"
      id="comments"
      class="textarea-comment"
      placeholder="comments"
    ></textarea>
    <button>Send</button>
  </form>
  <ul>
    <li>
      <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
    </li>
    <li><a href="tel:+380 11 1111 11 11">+380 11 1111 11 11</a></li>
  </ul>
</footer>
