body {
  font-size: 16px;
  font-family: 'Inter Tight';
  font-weight: 500;
  line-height: 1.5;
  background-color: #1c1d20;
  color: #fafafa;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #1c1d20;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  background-color: #ed3b44;
  color: #fff;
  border: none;
  border-radius: 60px;
  padding: 10px;
  cursor: pointer;
  stroke: #e0373f;
  box-shadow: 0 0 15px 1px #e0373f
}

#scrollToTopBtn:hover {
  background-color: #e0373f
}

.icon-to-top {
  width: 12px;
  height: 12px;
  fill: none;
  stroke: #fafafa;
  stroke-width: 2px;
  border: none;
  transform: rotate(180deg)
}

@media screen and (max-width: 374.98px) {
  .container {
    max-width: 374.98px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
