

.benefits-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

.benefits-header{
    color: rgba(250, 250, 250, 0.40);
    font-family: "Inter Tight";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    text-transform: uppercase;
}

.benefits-describes-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.benefits-describes-item{
    max-width: 344px;
    min-height: 270px;
    padding: 24px;
    border-radius: 20px;
    background: #242527;
}

.benefits-describes-svg-container{
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #ED3B44;
    margin-bottom: 64px;

}

.benefits-describes-header{
    color: #FAFAFA;
    font-family: "Inter Tight";
    font-size: 20px;
    font-weight: 600;
    line-height: 30px; /* 150% */
    letter-spacing: -0.4px;
    margin-bottom: 8px;
}

.benefits-describes-text{
    color: rgba(250, 250, 250, 0.60);
    font-family: "Inter Tight";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
}

.benefits-order-btn{
    max-width: 187px;
    min-height: 55px;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.20);
    background-color: transparent;
    color: #FAFAFA;
    font-family: "Inter Tight";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;

}

@media  screen and  (max-width: 767px){
    .container {
        max-width: 374.98px;
        padding: 0 16px;
        margin: 0 auto;
    }
   
}

@media  screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

