.hero-section {
  width: 100%;
  height: 812px;
  margin: 0 auto;
  background-image: url(../img/hero/mobile-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero-section {
    background-image: url(../img/hero/mobile-hero@2x.png);
  }
}

.hero-container {
  width: 343px;
  margin: 0 auto;
  position: relative;
  top: 281px;
}

.email-link {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 178px;
  height: 37px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 374px) {
  .hero-container {
    padding: 0 16px;
  }
}

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  text-align: left;
  max-width: 343px;
  max-height: 250px;
  margin-bottom: 212px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
  margin-bottom: 32px;
}

.social-media-item {
  width: 37px;
  height: 37px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.social-media-item:active,
.email-link:active {
  background-color: #e0373f;
  box-shadow: 0 0 15px 5px #f4e4e5;
  cursor: pointer;
}

@keyframes socialMediaMarkup {
  0%,
  20% {
    box-shadow: none;
  }

  25%,
  45% {
    box-shadow: 0 0 15px 5px #f4e4e5;
  }

  50%,
  70% {
    box-shadow: none;
  }
}

.animation {
  animation: socialMediaMarkup 9.5s infinite;
  /* Adjust the total animation duration and repeat count */
}

.one {
  animation-delay: 2.5s;
}

.two {
  animation-delay: 4.5s;
}

.three {
  animation-delay: 6.5s;
}

.four {
  animation-delay: 8.5s;
}

.five {
  animation-delay: 10.5s;
}

@media screen and (min-width: 768px) {
  .hero-section {
    height: 1024px;
    background-image: url(../img/hero/tablet-hero.png);
  }

  .email-link {
    width: 220px;
    height: 55px
  }

  @media screen and (min-resolution: 192dpi) and (max-width: 1339px),
    screen and (min-resolution: 2dppx) and (max-width: 1339px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 1339px) {
    .hero-section {
      background-image: url(../img/hero/tablet-hero@2x.png);
    }
  }

  .hero-container {
    width: 704px;
    top: 300px;
  }

  .hero-title {
    font-size: 90px;
    max-width: 632px;
    max-height: 450px;
    margin-bottom: 187px;
  }

  .social-media-list {
    width: 473px;
    gap: 8px;
    margin-left: auto;
  }

  .social-media-item {
    padding: 18px 20px;
    width: 55px;
    height: 55px;
  }

  .social-media-link {
    font-size: 16px;
  }

  .email-link {
    font-size: 16px;
    padding: 18px 24px;
    width: 223px;
    height: 55px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    height: 900px;
    background-image: url(../img/hero/bg-red-x1.png);
  }

  .hero-container {
    width: 1376px;
  }

  .hero-title {
    max-width: 1084px;
    max-height: 270px;
    margin: auto auto 243px;
  }

  .social-media-item {
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-media-item:hover,
  .social-media-item:focus {
    background-color: #e0373f;
  }

  .social-media-item {
    cursor: pointer;
  }

  .email-link {
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .email-link:hover,
  .email-link:focus {
    background-color: #e0373f;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .hero-section {
    background-image: url(../img/hero/bg-red-x2.png);
  }
}
